---
import Layout from "~/components/Layout.astro"
---

<Layout>
	<main class="animate-fade-up flex flex-col">
		<h1>oops! there's nothing here.</h1>
		<footer class="py-16">
			<p class="body-1 text-accent">
				get yourself over to the <a href="/" class="cursor-pointer">
					<span class="underline">Homepage</span>
				</a>
			</p>
		</footer>
	</main>
</Layout>
