---
import Experiences from "~/components/Experiences.astro"
import Footer from "~/components/Footer.astro"
import Layout from "~/components/Layout.astro"
---

<Layout>
	<div class="flex flex-col space-y-3">
		<h1>About</h1>
		<p>
			Experienced Software Developer adept in bringing forth expertise in
			design, installation, testing and maintenance of software systems.
			Equipped with a diverse and promising skill-set.
		</p>
		<p>
			Proficient in various platforms, languages, and embedded systems.
			Experienced with the latest cutting edge development tools and procedures.
			Able to effectively self-manage during independent projects, as well as
			collaborate as part of a productive team
		</p>
	</div>
	<Experiences />
	<Footer />
</Layout>
