---
import Footer from "~/components/Footer.astro"
import Hero from "../components/Hero.astro"
import Layout from "../components/Layout.astro"
import RecentWork from "../components/RecentWork.astro"
import Experience from "../components/Experiences.astro"
---

<Layout>
	<Hero />
	<main class="animate-fade-up flex flex-col md:space-y-48 space-y-24">
		<RecentWork />
		<Experience />
		<Footer />
	</main>
</Layout>
