---
import "../styles/global.css"
import "@fontsource-variable/lexend"
import "@fontsource-variable/dm-sans"
import "@fontsource/pt-mono"

import Layout from "../components/Layout.astro"
import { TailwindIndicator } from "../components/r/tailwind-indicator"
import Header from "../components/Header.astro"
import RecentWork from "../components/RecentWork.astro"
import Hero from "../components/Hero.astro"
import Footer from "../components/Footer.astro"
import Review from "../components/Review.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>srtfk</title>
	</head>
	<body>
		<Header />
		<TailwindIndicator />
		<Layout>
			<Hero />
			<main class="animate-fade-up flex flex-col space-y-64">
				<RecentWork />
				<Review />
			</main>
			<Footer />
		</Layout>
	</body>
</html>
