---
import Footer from "~/components/Footer.astro"
import Hero from "../components/Hero.astro"
import Layout from "../components/Layout.astro"
import RecentWork from "../components/RecentWork.astro"
import Review from "../components/Review.astro"
---

<Layout>
	<Hero />
	<main class="animate-fade-up flex flex-col space-y-64">
		<RecentWork />
		<Review />
		<Footer />
	</main>
</Layout>
