<footer class="py-16">
	<p class="body-1 text-accent">
		like what you’ve seen? send me an <a
			href="mailto:srtfk.dev@gmail.com"
			class="cursor-pointer"
		>
			<span class="underline">email</span>
		</a>
	</p>
</footer>
