---
import Link from "../components/Link.astro"
import MobileHeader from "~/components/r/mobile-header"

const menu = [
	[
		{
			label: "srtfk",
			url: "/",
		},
		{
			label: "project",
			url: "/project",
		},
		{
			label: "about",
			url: "/about",
		},
	],
	[
		{
			label: "whatsapp",
			url: "https://api.whatsapp.com/send?phone=62895333302590",
		},
		{
			label: "linkedin",
			url: "https://linkedin.com/in/srtfk",
		},
		{
			label: "upwork",
			url: "/upwork",
		},
	],
]
---

<div
	class="sticky top-0 bg-white z-10 flex justify-center w-full border-b shadow-xs"
>
	<aside
		class="sm:py-10 py-5 lg:px-0 px-8 xl:max-w-screen-lg max-w-screen-md w-full"
	>
		<!-- Mobile Header -->
		<div class="sm:hidden flex justify-between">
			<a href="/">
				<p class="display-1 text-xl">srtfk</p>
			</a>
			<MobileHeader client:visible />
		</div>
		<!-- Desktop Header -->
		<nav class="sm:flex sm:gap-16 gap-4 hidden">
			{
				menu.map((group) => (
					<div class="flex gap-4 last:ml-auto last:mr-4 group">
						{group.map((menu) => (
							<Link url={menu.url}>{menu.label}</Link>
						))}
					</div>
				))
			}
		</nav>
	</aside>
</div>
