---
import "@fontsource-variable/dm-sans"
import "@fontsource-variable/lexend"
import "@fontsource/pt-mono"
import "~/styles/global.css"

import Footer from "./Footer.astro"
import Header from "./Header.astro"
import { TailwindIndicator } from "./r/tailwind-indicator"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>srtfk</title>
	</head>
	<body>
		<Header />
		<div class="flex sm:py-16 py-8 lg:px-0 md:px-6 px-12 justify-center w-full">
			<div
				class="flex flex-col gap-6 md:gap-12 xl:max-w-screen-lg max-w-screen-md animate-fade-up w-full"
			>
				<slot />
			</div>
		</div>
		<TailwindIndicator />
	</body>
</html>
