---
interface Props {
	url: string
}
const { url } = Astro.props
---

<a
	href={url}
	class="hover:text-accent flex gap-1 items-center group-first:first:font-semibold group-first:first:animate-pulse group-first:first:lexend transition-all hover:-translate-y-0.5"
>
	<slot />
</a>
