---
const reviews = [
	{
		name: "Yoga",
		project: "Psycological Test Application",
		description:
			"“Sören knows his stuff and we couldn’t think of anyone better to work with on our latest product.",
	},
	{
		name: "Ari",
		project: "Logistic Management System",
		description: "Nice to works with Syahrul",
	},
]
---

<div>
	<h2>what they said -</h2>
	<div class="grid mt-12 gap-x-12 gap-y-6">
		{
			reviews.map((item) => (
				<div class="flex hover:bg-slate-50 flex-col">
					<p class="text-lg">{item.description}</p>
					<p class="text-sm text-slate-500">
						{item.name} - {item.project}
					</p>
				</div>
			))
		}
	</div>
</div>
